.venv*
venv
.env
*.pyc
*.swp
*.egg-info
__pycache__
.DS_Store
.vscode
*.log
*.out
*.zip

_*
flagged/
saved_models/
pretrained_models/
wandb/
logs/

outputs/
caches/
notebooks/
gradio_cached_examples/
flagged/

core-*

ziDB7o47